.section-about {
    padding: 25rem 0;
    margin-top: -20vh;
};

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(white, 0.5), rgba(orangered, 0.5)) , url(../img/bowen-2.jpg);
    background-size: cover;
    margin-top: -10rem;
    position: relative;

    &__wave-top {
        position: absolute;
        top: -1px;
        left: 0;
        transform: scale(-1);
    }

    &__wave-bottom {
        position: absolute;
        bottom: -1px;
        left: 0;
    }
}


.section-tours {
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}